/x64/Debug
/RISCVEmu.opensdf
/RISCVEmu.sdf
/RISCVEmu.v12.suo
/RISCVEmu.vcxproj.filters
/RISCVEmu.vcxproj.user
/bin/RISCVEmu_x64_Debug.exe
/bin/RISCVEmu_x64_Debug.ilk
/bin/RISCVEmu_x64_Debug.pdb
/bin/imgui.ini
/trace.txt
/trace_regs.txt
/trace_tranlated.txt
/.vscode
/bios/src/*.asm
/bios/src/*.elfinfo
/bios/src/*.o
/bios/src/bios
/bios/src/libkernel/*.o
/bios/src/devices/*.o
